.Btn{
    color: #046E8F;
    background-color: #ffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 10px;
    border-color:  #046E8F;
    border-style: solid;
    border-width: 2px;
}