.ContainerMinimal {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 90px;
    background-color: #CED4DA;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
  }
  .ItemForm1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .InputFile{
    margin-top: 2px;
    max-width: 100%;
    height: 25px;
    margin-bottom: 10px;
    display: none;
  }

  .ItemForm{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .Label{
    text-align: left;
    padding-left: 3%;
  }
  .Input{
    margin-top: 5px;
    align-self: center;
    width: 95%;
    height: 25px;
    border-radius: 7px;
    padding: 0%;
    background-color: #F8F9FA;
    }
  .ContainerGeral{
    margin-top: auto;
    margin-bottom: auto;
    min-width: 80%;
  }
  .ContainerBtn{
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
  }
  .DivErro{
    margin-bottom: auto;
    width: 258px;
  }
  .DivErroCampos{
      margin-bottom: auto;
  }
  .erro{
    text-align: center;
    color:red;
  }
  .Obs{
    color: gray;
  }
  .Descricao{
    margin-top: 5px;
    align-self: center;
    width: 95%;
    height: 25px;
    border-radius: 7px;
    padding: 0%;
    padding-bottom: 70px;
    background-color: #F8F9FA
  }
  .form{
    margin-bottom: 20px;
  }
  .FileLabel{
    background-color: aqua;
    width: 70px;
    height: 46px;
    text-align: center;
    padding: 25px;
    padding-top: 37px;
    padding-bottom: 37px;
    border: 3px solid #6C757D;
    border-radius: 10px;
    background: none;
    position:absolute;
    z-index: 1;
    top: 110px;
  }
  .FileLabel:hover{
    cursor:pointer;
  }
  .FileLabel2{
    background-color: aqua;
    width: 70px;
    height: 46px;
    text-align: center;
    padding: 25px;
    padding-top: 37px;
    padding-bottom: 37px;
    border: 3px solid #6C757D;
    border-radius: 10px;
    background: none;
    position:absolute;
    z-index: 1;
    top: 374px;
  }
  .FileLabel2:hover{
    cursor:pointer;
  }
.FileLabel3{
    background-color: aqua;
    width: 70px;
    height: 46px;
    text-align: center;
    padding: 25px;
    padding-top: 37px;
    padding-bottom: 37px;
    border: 3px solid #6C757D;
    border-radius: 10px;
    background: none;
    position:absolute;
    z-index: 1;
    top: 557px;
  }
  .FileLabel3:hover{
    cursor:pointer;
  }
  .FileLabel31{
    background-color: aqua;
    width: 70px;
    height: 46px;
    text-align: center;
    padding: 25px;
    padding-top: 37px;
    padding-bottom: 37px;
    border: 3px solid #6C757D;
    border-radius: 10px;
    background: none;
    position:absolute;
    z-index: 1;
    top: 529px;
  }
  .FileLabel31:hover{
    cursor: pointer;
  }
  .FileLabel31Erro{
    background-color: aqua;
    width: 70px;
    height: 46px;
    text-align: center;
    padding: 25px;
    padding-top: 37px;
    padding-bottom: 37px;
    border: 3px solid #6C757D;
    border-radius: 10px;
    background: none;
    position:absolute;
    z-index: 1;
    top: 608px;
  }
  .FileLabel31Erro:hover{
    cursor: pointer;
  }
  .Logout{
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #3C6E71;
    color: #CED4DA;
    border: 2px solid darkgrey;
    border-radius: 8px;
    width: 10px;
    align-self:inherit;
    text-decoration: none;
    text-align: center;
  }
  .Logout:hover{
    cursor: pointer;
  }
  .CheckBox{
    margin-top: 20px;
  }
  .CheckBox input{
    display: none;
  }
  .CheckBox input + label::before{
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
  }
  .CheckBox input:checked + label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #3C6E71;
    background-position: center;
    border: none;
    padding: 1px;
  }
  .CheckBox label:hover{
    cursor: pointer;
  }

  .Logout:hover{
    position: relative;
    z-index: 0;
    color: #CED4DA;
    border-color: #CED4DA;
  }
  .Imagem{
    margin-top: 21px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 123px;
    height: 123px;
    background-color: white;
  }
  .Carregamento{
    animation: rotacionar 1s infinite;
    align-self: center;
    border: 5px solid #6C757D;
    border-top-color: #3C6E71;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
  }
  @keyframes rotacionar{
    to{
      transform: rotate(1turn);
    }
    
  }
  @media(max-height: 520px) and (min-height: 501px){
    .ContainerMinimal {
  
        min-height: 280px;
      }
  }
  @media(max-height: 540px) and (min-height: 521px){
    .ContainerMinimal {
  
        min-height: 300px;
      }
  }
  @media(max-height: 560px) and (min-height: 541px){
    .ContainerMinimal {
  
        min-height: 320px;
      }
  }
  @media(max-height: 580px) and (min-height: 561px){
    .ContainerMinimal {
  
        min-height: 340px;
      }
  }
  @media(max-height: 600px) and (min-height: 581px){
    .ContainerMinimal {
  
        min-height: 360px;
      }
  }
  @media(max-height: 620px) and (min-height: 601px){
    .ContainerMinimal {
  
        min-height: 380px;
      }
  }
  @media(max-height: 640px) and (min-height: 621px){
    .ContainerMinimal {
  
        min-height: 400px;
      }
  }
  @media(max-height: 660px) and (min-height: 641px){
    .ContainerMinimal {
  
        min-height: 420px;
      }
  }
  @media(max-height: 680px) and (min-height: 661px){
    .ContainerMinimal {
  
        min-height: 440px;
      }
  }
  @media(max-height: 700px) and (min-height: 681px){
    .ContainerMinimal {
  
        min-height: 460px;
      }
  }
  @media(max-height: 720px) and (min-height: 701px){
    .ContainerMinimal {
  
        min-height: 480px;
      }
  }
  @media(max-height: 740px) and (min-height: 721px){
    .ContainerMinimal {
  
        min-height: 500px;
      }
  }
  @media(max-height: 760px) and (min-height: 741px){
    .ContainerMinimal {
  
        min-height: 520px;
      }
  }
  @media(max-height: 780px) and (min-height: 761px){
    .ContainerMinimal {
  
        min-height: 540px;
      }
  }
  @media(max-height: 800px) and (min-height: 781px){
    .ContainerMinimal {
  
        min-height: 560px;
      }
  }
  @media(max-height: 820px) and (min-height: 801px){
    .ContainerMinimal {
  
        min-height: 580px;
    }
}
@media(max-height: 840px) and (min-height: 821px){
    .ContainerMinimal {
  
        min-height: 600px;
      }
  }
  @media(max-height: 860px) and (min-height: 841px){
    .ContainerMinimal {
  
        min-height: 620px;
      }
  }
  @media(max-height: 880px) and (min-height: 861px){
    .ContainerMinimal {
  
        min-height: 640px;
      }
  }
  @media(max-height: 900px) and (min-height: 881px){
    .ContainerMinimal {
  
        min-height: 660px;
      }
  }
  @media(max-height: 920px) and (min-height: 901px){
    .ContainerMinimal {
  
        min-height: 680px;
      }
  }
  @media(max-height: 940px) and (min-height: 921px){
    .ContainerMinimal {
  
        min-height: 700px;
      }
  }
  @media(max-height: 960px) and (min-height: 941px){
    .ContainerMinimal {
  
        min-height: 720px;
      }
  }
  @media(max-height: 980px) and (min-height: 961px){
    .ContainerMinimal {
  
        min-height: 740px;
      }
  }
  @media(max-height: 1000px) and (min-height: 981px){
    .ContainerMinimal {
  
        min-height: 760px;
      }
  }
  @media(max-height: 1020px) and (min-height: 1001px){
    .ContainerMinimal {
  
        min-height: 780px;
      }
  }
  @media(max-height: 1040px) and (min-height: 1021px){
    .ContainerMinimal {
  
        min-height: 800px;
      }
  }
  @media(max-height: 1060px) and (min-height: 1041px){
    .ContainerMinimal {
  
        min-height: 820px;
      }
  }
  @media(max-height: 1080px) and (min-height: 1061px){
    .ContainerMinimal {
  
        min-height: 840px;
      }
  }
  @media(max-height: 1100px) and (min-height: 1081px){
    .ContainerMinimal {
  
        min-height: 860px;
      }
  }
  @media(max-height: 1120px) and (min-height: 1101px){
    .ContainerMinimal {
  
        min-height: 880px;
      }
  }
  @media(max-height: 1140px) and (min-height: 1121px){
    .ContainerMinimal {
  
        min-height: 900px;
    }
}