.Footer{
    background-color: #074365;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    padding-top: 17px;
    padding-bottom: 40px;

}
.FooterItem1{
    justify-self: left;
    margin-left: 5%;
    margin-right: auto;
}
.FooterItem2{
    justify-self: center;
}
.FooterItem3{
    justify-self: right;
    margin-left: auto;
    margin-right: 5%;
}
.Copyright{
    display: flex;
    background-color:#043653;
    text-align: center;
    padding: 10px;
    align-content: center;
    justify-content: center;
}
.h4{
    margin: 0px;
    color: white;
}