.ContainerMinimal {
    display:flexbox;
    margin-bottom: 30px;
    margin-top: 90px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #CED4DA;
    text-align: center;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
  }
  .ContainerPadrao{
    display:flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 90px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #CED4DA;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .ContainerBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .DivImg{
    margin-top: auto;
    height: 120px;
    margin-bottom: auto; 
  }
  .Imagen{
    max-width: 90%;
    max-height: 120px;
    border-radius: 10px;
  }
  .DivText{
    margin-left:5%;
    margin-right: 5%;
  }
  .DivItem{
    display: flex;
    background-color: #ADB5BD;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 450px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px; 
  }
  .Carregamento{
    animation: rotacionar 1s infinite;
    border: 5px solid #6C757D;
    border-top-color: #3C6E71;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .DivRedirecionar{
    text-align: center;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .Tamanho{
    font-size:larger;
  }

@keyframes rotacionar{
  to{
    transform: rotate(1turn);
  }
}
  @media(max-height: 520px) and (min-height: 501px){
    .ContainerMinimal {
  
        min-height: 280px;
      }
  }
  @media(max-height: 540px) and (min-height: 521px){
    .ContainerMinimal {
  
        min-height: 300px;
      }
  }
  @media(max-height: 560px) and (min-height: 541px){
    .ContainerMinimal {
  
        min-height: 320px;
      }
  }
  @media(max-height: 580px) and (min-height: 561px){
    .ContainerMinimal {
  
        min-height: 340px;
      }
  }
  @media(max-height: 600px) and (min-height: 581px){
    .ContainerMinimal {
  
        min-height: 360px;
      }
  }
  @media(max-height: 620px) and (min-height: 601px){
    .ContainerMinimal {
  
        min-height: 380px;
      }
  }
  @media(max-height: 640px) and (min-height: 621px){
    .ContainerMinimal {
  
        min-height: 400px;
      }
  }
  @media(max-height: 660px) and (min-height: 641px){
    .ContainerMinimal {
  
        min-height: 420px;
      }
  }
  @media(max-height: 680px) and (min-height: 661px){
    .ContainerMinimal {
  
        min-height: 440px;
      }
  }
  @media(max-height: 700px) and (min-height: 681px){
    .ContainerMinimal {
  
        min-height: 460px;
      }
  }
  @media(max-height: 720px) and (min-height: 701px){
    .ContainerMinimal {
  
        min-height: 480px;
      }
  }
  @media(max-height: 740px) and (min-height: 721px){
    .ContainerMinimal {
  
        min-height: 500px;
      }
  }
  @media(max-height: 760px) and (min-height: 741px){
    .ContainerMinimal {
  
        min-height: 520px;
      }
  }
  @media(max-height: 780px) and (min-height: 761px){
    .ContainerMinimal {
  
        min-height: 540px;
      }
  }
  @media(max-height: 800px) and (min-height: 781px){
    .ContainerMinimal {
  
        min-height: 560px;
      }
  }
  @media(max-height: 820px) and (min-height: 801px){
    .ContainerMinimal {
  
        min-height: 580px;
    }
}
@media(max-height: 840px) and (min-height: 821px){
    .ContainerMinimal {
  
        min-height: 600px;
      }
  }
  @media(max-height: 860px) and (min-height: 841px){
    .ContainerMinimal {
  
        min-height: 620px;
      }
  }
  @media(max-height: 880px) and (min-height: 861px){
    .ContainerMinimal {
  
        min-height: 640px;
      }
  }
  @media(max-height: 900px) and (min-height: 881px){
    .ContainerMinimal {
  
        min-height: 660px;
      }
  }
  @media(max-height: 920px) and (min-height: 901px){
    .ContainerMinimal {
  
        min-height: 680px;
      }
  }
  @media(max-height: 940px) and (min-height: 921px){
    .ContainerMinimal {
  
        min-height: 700px;
      }
  }
  @media(max-height: 960px) and (min-height: 941px){
    .ContainerMinimal {
  
        min-height: 720px;
      }
  }
  @media(max-height: 980px) and (min-height: 961px){
    .ContainerMinimal {
  
        min-height: 740px;
      }
  }
  @media(max-height: 1000px) and (min-height: 981px){
    .ContainerMinimal {
  
        min-height: 760px;
      }
  }
  @media(max-height: 1020px) and (min-height: 1001px){
    .ContainerMinimal {
  
        min-height: 780px;
      }
  }
  @media(max-height: 1040px) and (min-height: 1021px){
    .ContainerMinimal {
  
        min-height: 800px;
      }
  }
  @media(max-height: 1060px) and (min-height: 1041px){
    .ContainerMinimal {
  
        min-height: 820px;
      }
  }
  @media(max-height: 1080px) and (min-height: 1061px){
    .ContainerMinimal {
  
        min-height: 840px;
      }
  }
  @media(max-height: 1100px) and (min-height: 1081px){
    .ContainerMinimal {
  
        min-height: 860px;
      }
  }
  @media(max-height: 1120px) and (min-height: 1101px){
    .ContainerMinimal {
  
        min-height: 880px;
      }
  }
  @media(max-height: 1140px) and (min-height: 1121px){
    .ContainerMinimal {
  
        min-height: 900px;
    }
}





@media(max-height: 520px) and (min-height: 501px){
  .ContainerPadrao {

      min-height: 280px;
    }
}
@media(max-height: 540px) and (min-height: 521px){
  .ContainerPadrao {

      min-height: 300px;
    }
}
@media(max-height: 560px) and (min-height: 541px){
  .ContainerPadrao {

      min-height: 320px;
    }
}
@media(max-height: 580px) and (min-height: 561px){
  .ContainerPadrao {

      min-height: 340px;
    }
}
@media(max-height: 600px) and (min-height: 581px){
  .ContainerPadrao {

      min-height: 360px;
    }
}
@media(max-height: 620px) and (min-height: 601px){
  .ContainerPadrao {

      min-height: 380px;
    }
}
@media(max-height: 640px) and (min-height: 621px){
  .ContainerPadrao {

      min-height: 400px;
    }
}
@media(max-height: 660px) and (min-height: 641px){
  .ContainerPadrao {

      min-height: 420px;
    }
}
@media(max-height: 680px) and (min-height: 661px){
  .ContainerPadrao {

      min-height: 440px;
    }
}
@media(max-height: 700px) and (min-height: 681px){
  .ContainerPadrao {

      min-height: 460px;
    }
}
@media(max-height: 720px) and (min-height: 701px){
  .ContainerPadrao {

      min-height: 480px;
    }
}
@media(max-height: 740px) and (min-height: 721px){
  .ContainerPadrao {

      min-height: 500px;
    }
}
@media(max-height: 760px) and (min-height: 741px){
  .ContainerPadrao {

      min-height: 520px;
    }
}
@media(max-height: 780px) and (min-height: 761px){
  .ContainerPadrao {

      min-height: 540px;
    }
}
@media(max-height: 800px) and (min-height: 781px){
  .ContainerPadrao {

      min-height: 560px;
    }
}
@media(max-height: 820px) and (min-height: 801px){
  .ContainerPadrao {

      min-height: 580px;
  }
}
@media(max-height: 840px) and (min-height: 821px){
  .ContainerPadrao {

      min-height: 600px;
    }
}
@media(max-height: 860px) and (min-height: 841px){
  .ContainerPadrao {

      min-height: 620px;
    }
}
@media(max-height: 880px) and (min-height: 861px){
  .ContainerPadrao {

      min-height: 640px;
    }
}
@media(max-height: 900px) and (min-height: 881px){
  .ContainerPadrao {

      min-height: 660px;
    }
}
@media(max-height: 920px) and (min-height: 901px){
  .ContainerPadrao {

      min-height: 680px;
    }
}
@media(max-height: 940px) and (min-height: 921px){
  .ContainerPadrao {

      min-height: 700px;
    }
}
@media(max-height: 960px) and (min-height: 941px){
  .ContainerPadrao {

      min-height: 720px;
    }
}
@media(max-height: 980px) and (min-height: 961px){
  .ContainerPadrao {

      min-height: 740px;
    }
}
@media(max-height: 1000px) and (min-height: 981px){
  .ContainerPadrao {

      min-height: 760px;
    }
}
@media(max-height: 1020px) and (min-height: 1001px){
  .ContainerPadrao {

      min-height: 780px;
    }
}
@media(max-height: 1040px) and (min-height: 1021px){
  .ContainerPadrao {

      min-height: 800px;
    }
}
@media(max-height: 1060px) and (min-height: 1041px){
  .ContainerPadrao {

      min-height: 820px;
    }
}
@media(max-height: 1080px) and (min-height: 1061px){
  .ContainerPadrao {

      min-height: 840px;
    }
}
@media(max-height: 1100px) and (min-height: 1081px){
  .ContainerPadrao {

      min-height: 860px;
    }
}
@media(max-height: 1120px) and (min-height: 1101px){
  .ContainerPadrao {

      min-height: 880px;
    }
}
@media(max-height: 1140px) and (min-height: 1121px){
  .ContainerPadrao {

      min-height: 900px;
  }
}