.ContainerMinimal {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #dcdcdc;
    text-align: center;
    border-radius: 10px;
    align-items: center;
  }
  .ContainerIMG{
    margin-top: 30px;
    height: 60px;
    width: 60px;
    padding: 0;
    background-color: aqua;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
  }
  .Btn{
    color: #4f4f4f;
    background-color: #d4d4d4;
    margin-top: auto;  
    margin-bottom: 30px;
    width: 140px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-color:  #046E8F;
    border-radius: 8px;
    text-decoration: none;

  }
  .Btn:hover{
    color: black;
  }
  .Logout{
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    border-style: solid;
    border-radius: 8px;
    border-color: red;
    margin-top: auto;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 40px;
    align-self:inherit
  }
  .Logout:hover{
    color: red;
  }
