.ContainerMinimal {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 90px;
    margin-left: 45px;
    margin-right: 45px;
    background-color: #dcdcdc;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 40px;
  }
  .ContainerItem1{
    flex-direction: column;
    margin-top: 40px;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
  }
  .ContainerItem{
    flex-direction: column;
    margin-top: 20px;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
  }
  .Input{
    width: 100%;
    height: 35px;
    border-radius: 8px;
  }
  .InputBtn{
    color: #046E8F;
    background-color: #ffff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 8px;
    border-color:  #046E8F;
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    cursor: pointer;
  }.Btn{
    color: #046E8F;
    background-color: #ffff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 8px;
    border-color:  #046E8F;
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    cursor: pointer;
    max-width: 10%;
    align-self: center;
  }.FakeBtn{
    color: #046E8F;
    background-color: #ffff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 8px;
    border-color:  #046E8F;
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    cursor: pointer;
    max-width: 10%;
    align-self: center;
    user-select: none;
  }
  .error{
    color:red;
  }